<p><% if @quiz.car_value =! 0 %>
<%= car_bills_eval %>
<% end %>
</p>
<br/><br/><h10><i>The ultimate tip in keeping your expenses low: Spend smartly.</i></h10>
<img src="<%= asset_path( 'expenses.png' ) %>" alt="" style="height:20%">