<p><%= total_investments_eval %></p>

<h8>Emergency stash</h8>
<p><%= esavings_eval %></p>

<br/>
<h10><i>A penny saved is a penny earned - Benjamin Franklin</i></h10>
<img src="/assets/savings.png" alt="" align="middle" style="height:17%">
