<p><%= "All your loans, exclusing mortgage, total up to: $" + total_loans.to_s %></p>
<p><%= total_loans_eval %></p>

<br/><br/>
<h10><i>A man in debt is so far a slave -Ralph Waldo Emerson</i></h10>
<img src="<%= asset_path( 'borrow2.png' ) %>" alt="" align="middle" style="height:20%">

