
<section id="home" data-type="background" data-speed="10" class="pages">   
         <h7 id="notice"><%= notice %></h7>
         <article><%= render 'shim2' %><h1>Unbroke</h1>
         <img src="/assets/savings.png" alt="" align="middle" style="height:65%">
         <h3>beating broke-ness, one advice at a time</h3><br/>
         <button type="button" class="btn"><h6><a class="button" href="#income">Click here to Start >></a></h6></button>
         </article>
         
</section>  



<%= render 'form_v2' %>

