<!--<form id="updateform" action="success" method="get"> -->
      <%= form_for @quiz, :url => send_email_path, :html => {:method => :put } do |f| %>
      Send the BrokeBuster Report to your email:
       <%= f.text_field :email %>
      <%= f.submit %>
      <% end %>
<!--</form>-->
